@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
.completed-task li, .task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.completed-task li .check-box input, .task-list li .check-box input {
  margin: 0 10px;
}

.btn-theme-primary {
  background: #FF785A;
  border: #FF785A;
  color: #fff;
}

.btn-theme-primary:hover {
  background: #fd5731;
  color: #fff;
}

.btn-theme-secondary {
  background: #92140c;
  border: #92140c;
  color: #fff;
}

.btn-theme-secondary:hover {
  background: #b31a0f;
  color: #fff;
}

.btn-theme-success {
  background: #2ec4b6;
  border: #2ec4b6;
  color: #fff;
}

.btn-theme-success:hover {
  background: #239287;
  color: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: #fafcf7;
}

header {
  background-color: #19647E;
  color: #ffffff;
  padding: 10px 30px;
  display: inline-flex;
  width: 100%;
  align-items: center;
}
header .menu {
  display: inline-flex;
  position: absolute;
  right: 15px;
  top: 14px;
  list-style: none;
}
header .menu li {
  font-size: 20px;
  padding: 8px 10px;
}
header .menu li:hover {
  background-color: #0e3c4b;
}
header .menu a {
  text-decoration: none;
  color: #ffffff;
}

.left-panel.collapsed {
  width: 50px !important;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}
.left-panel.collapsed .hamburguer-icon {
  right: unset;
  justify-content: center;
}
.left-panel.collapsed .task-list {
  margin-top: 60px;
  width: 100%;
}
.left-panel.collapsed .task-list li {
  padding: 10px auto;
}

.right-panel.collapsed {
  width: calc(100% - 50px);
  left: 50px;
  transition: 0.5s;
}

.left-panel {
  padding: 20px 0;
  background: #134e62;
  width: 200px;
  position: absolute;
  left: 0;
  height: 100vh;
  transition: 0.5s;
}
.left-panel .hamburguer-icon {
  position: absolute;
  right: 5px;
  display: flex;
  width: 100%;
  justify-content: end;
}
.left-panel .hamburguer-icon button.btn {
  color: #ffffff;
  margin: 10px 5px;
}
.left-panel .hamburguer-icon button.btn:hover {
  background-color: #0e3c4b;
}
.left-panel .task-list {
  margin-top: 60px;
  list-style: none;
  padding: 0;
}
.left-panel .task-list li {
  padding: 10px 20px;
  width: 100%;
}
.left-panel .task-list li:hover {
  background: #0e3c4b;
  cursor: pointer;
}
.left-panel .task-list a {
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
}

.right-panel {
  position: absolute;
  left: 200px;
  width: calc(100% - 200px);
  padding-top: 20px;
  transition: 0.5s;
}
.right-panel .welcome-ms {
  text-align: center;
  color: rgb(129, 129, 129);
  height: 80vh;
  display: grid;
  transition: 0.3s;
  align-items: center;
}
.right-panel .welcome-ms h1 {
  font-size: 8vw;
}
.right-panel .welcome-ms h3 {
  font-size: 3vw;
}
.right-panel .main {
  display: none;
  transition: 0.3s;
}
.right-panel .container-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.right-panel .tasks-container {
  max-height: 280px;
  min-height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.right-panel .completed-task-container {
  position: relative;
  top: 50px;
  overflow-x: hidden;
}

.task-list .task-date {
  color: rgb(138, 138, 138);
  font-size: 12px;
  margin-left: 20px;
  font-style: italic;
}
.task-list button {
  color: rgb(136, 136, 136);
}
.task-list .btn-delete {
  float: right;
}
.task-list .btn-delete:hover {
  color: red;
}

.completed-task {
  margin-top: 200px;
  display: none;
  transition: 0.5s;
}
.completed-task li {
  color: #747474;
}
.completed-task li button {
  display: none;
}

.btn-add-task {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px;
  color: #fff;
  border-radius: 50px;
  transition: 0.1s;
}

.btn-add-task:hover {
  padding: 17px 22px;
  transition: 0.1s;
}

.modal .modal-body {
  padding-bottom: 35px !important;
}
.modal .modal-footer {
  display: flex;
  justify-content: space-between;
}

.row.tasks {
  margin-top: 30px;
}

.completed {
  color: rgb(134, 134, 134);
}
.completed span {
  text-decoration: line-through;
}

.bordered {
  border: 1px solid #dee2e6 !important;
  border-radius: inherit;
}

.fm-text {
  position: absolute;
}

.favorite-check {
  display: none;
}

.label-save {
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.label-save:hover {
  color: #F2BB05;
  font-size: 17px;
}

.saved {
  color: #F2BB05;
}

/*# sourceMappingURL=style.css.map */
