@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// Global Variables
$main-color: #19647E;
$main-hover-color: #0e3c4b;
$bg: #fafcf7;
$btn-primary: #FF785A;
$btn-primary-hover: #fd5731;
$btn-secondary: #92140c;
$btn-secondary-hover: #b31a0f;
$btn-success: #2ec4b6;
$btn-success-hover: #239287;
$btn-warning: #F2BB05;

// Base Classes Styles
%li-element {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .check-box {
        input {
            margin: 0 10px;
        }
    }
}

.btn-theme-primary {
    background: $btn-primary;
    border: $btn-primary;
    color: #fff;
}

.btn-theme-primary:hover {
    background: $btn-primary-hover;
    color: #fff;
}

.btn-theme-secondary {
    background: $btn-secondary;
    border: $btn-secondary;
    color: #fff;
}

.btn-theme-secondary:hover {
    background: $btn-secondary-hover;
    color: #fff;
}

.btn-theme-success {
    background: $btn-success;
    border: $btn-success;
    color: #fff;
}

.btn-theme-success:hover {
    background: $btn-success-hover;
    color: #fff;
}

// Changing default website styles
html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: $bg;
}

header {
    background-color: $main-color;
    color: #ffffff;
    padding: 10px 30px;
    display: inline-flex;
    width: 100%;
    align-items: center;
    .menu {
        // float: right;
        display: inline-flex;
        position: absolute;
        right: 15px;
        top: 14px;
        li {
            font-size: 20px;
            padding: 8px 10px;
        }

        li:hover {
            background-color: $main-hover-color;
        }

        list-style: none;
        a { text-decoration: none; color: #ffffff; }

    }

}

.left-panel.collapsed {
    width: 50px !important;
    display: flex;
    justify-content: center;
    transition: 0.5s;

    .hamburguer-icon {
        right: unset;
        justify-content: center;
    }

    .task-list {
        margin-top: 60px;
        width: 100%;
        li {
            padding: 10px auto;
        }
    }

}

.right-panel.collapsed {
    width: calc(100% - 50px);
    left: 50px;
    transition: 0.5s;
}

.left-panel {
    padding: 20px 0;
    background: #134e62;
    width: 200px;
    position: absolute;
    left: 0;
    height: 100vh;
    transition: 0.5s;
    .hamburguer-icon {
        position: absolute;
        right: 5px;
        display: flex;
        width: 100%;
        justify-content: end;
        button.btn {
            color: #ffffff;
            margin: 10px 5px;
        }
        button.btn:hover {
            background-color: $main-hover-color;
        }
    }
    
    .task-list {
        margin-top: 60px;
        list-style: none;
        padding: 0;
        li {
            padding: 10px 20px;
            width: 100%;
        }

        li:hover {
            background: #0e3c4b;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: #fff;
            margin: 0 auto;
        }
    }

}

.right-panel {
    position: absolute;
    left: 200px;
    width: calc(100% - 200px);
    padding-top: 20px;
    transition: 0.5s;
    
    .welcome-ms {
        text-align: center;
        color: rgb(129, 129, 129);
        height: 80vh;
        display: grid;
        transition: 0.3s;
        align-items: center;
        h1 {
            font-size: 8vw;
        }
        h3 {
            font-size: 3vw;
        }

    }

    .main {
        display: none;
        transition: 0.3s;
    }

    .container-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .tasks-container {
        max-height: 280px;
        min-height: 280px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .completed-task-container {
        // margin-top: 150px;
        position: relative;
        top: 50px;
        overflow-x: hidden;
    }

}

.task-list {

    li {
        @extend %li-element;
    }

    .task-date {
        color: rgb(138, 138, 138);
        font-size: 12px;
        margin-left: 20px;
        font-style: italic;
    }

    button {
        color: rgb(136, 136, 136);
    }

    .btn-delete {
        float: right;
    }

    .btn-delete:hover {
        color: red;
    }

}

.completed-task {
    margin-top: 200px;
    // color: #747474;
    display: none;
    transition: 0.5s;
    
    li {
        color: #747474;
        @extend %li-element;

        button {
            display: none;
        }
    }

}

.btn-add-task {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 50px;
    transition: 0.1s;
}

.btn-add-task:hover {
    padding: 17px 22px;
    transition: 0.1s;
}

.modal {
    
    .modal-body {
        padding-bottom: 35px !important;
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;
    }
}


.row.tasks {
    margin-top: 30px;
}

.completed {
    color: rgb(134, 134, 134);
    span {
        text-decoration: line-through;
    }
}

.bordered {
    border: 1px solid #dee2e6 !important;
    border-radius: inherit;
}

.fm-text {
    position: absolute;
}

.favorite-check {
    display: none;
}

.label-save {
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.label-save:hover {
    color: $btn-warning;
    font-size: 17px;
}

.saved {
    color: $btn-warning;
}