@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// Global Variables
$main-color: #19647E;
$main-hover-color: #0e3c4b;
$bg: #fbfdf6;
$btn-primary: #FF785A;
$btn-primary-hover: #fd5731;

// Base Classes Styles
%li-element {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .check-box {
        input {
            margin-right: 20px;
        }
    }
}

.btn-theme {
    background: $btn-primary;
    border: $btn-primary;
    color: #fff;
}

.btn-theme:hover {
    background: $btn-primary-hover;
    color: #fff;
}

// Changing default website styles
html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: $bg;
}

header {
    background-color: $main-color;
    color: #ffffff;
    padding: 10px 30px;
    display: inline-flex;
    width: 100%;
    align-items: center;
    .menu {
        // float: right;
        display: inline-flex;
        position: absolute;
        right: 15px;
        top: 14px;
        li {
            font-size: 20px;
            padding: 8px 10px;
        }

        li:hover {
            background-color: $main-hover-color;
        }

        list-style: none;
        a { text-decoration: none; color: #ffffff; }

    }

}

.left-panel.collapsed {
    width: 5% !important;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    .hamburguer-icon {
        display: inline;
    }

    .task-list {
        display: inline;
    }

}

.right-panel.collapsed {
    width: 95%;
    left: 5%;
    transition: 0.5s;
}

.left-panel {
    padding: 20px 0;
    background: #134e62;
    width: 20%;
    position: absolute;
    left: 0;
    height: 100vh;
    transition: 0.5s;
    .hamburguer-icon {
        position: absolute;
        right: 10px;
        display: flex;
        width: 100%;
        justify-content: end;
        button.btn {
            color: #ffffff;
            margin: 10px 5px;
        }
        button.btn:hover {
            background-color: $main-hover-color;
        }
    }
    
    .task-list {
        list-style: none;
        padding: 0;
        li {
            padding: 10px 20px;
            width: 100%;
        }

        li:hover {
            background: #0e3c4b;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: #fff;
        }
    }

}

.right-panel {
    position: absolute;
    left: 20%;
    width: 80%;
    padding-top: 20px;
    transition: 0.5s;
    opacity: 0;

    .completed-task-container {
        margin-top: 150px;
    }

}

.task-list {

    li {
        @extend %li-element;
    }

    button {
        color: rgb(136, 136, 136);
    }

    .btn-delete {
        float: right;
    }

    .btn-delete:hover {
        color: red;
    }

}

.completed-task {
    margin-top: 200px;
    // color: #747474;
    display: none;
    transition: 0.5s;
    
    li {
        color: #747474;
        @extend %li-element;

        button {
            display: none;
        }
    }

}

.btn-add-task {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 50px;
    transition: 0.1s;
}

.btn-add-task:hover {
    padding: 17px 22px;
    transition: 0.1s;
}

#addTaskListModal .modal-footer {
    display: flex;
    justify-content: space-between;
}

.row.tasks {
    margin-top: 30px;
}